body{
    /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
    background-image: linear-gradient(to right, #434343 0%, black 100%);

}

#NavBar{
    margin-right: 20px;
    margin-left: 20px;
}

#NavbarTitle {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

div.card{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

div.accordion-item{
    width:auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.card-img-top {
    height: auto;
    width: auto;
    background-color: black;
}

h3.livebalace {
    display: inline-block;
    margin-right: 10px;
}

h4.card-text{
    display:inline-block;
}

h4.crypto-info{
    display: inline-block;
    margin-right: 10px;
}

